# .github/workflows/links-check.yml
name: links-check

on:
  push:
  pull_request:

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: >
            --verbose
            --no-progress
            --accept 200,201,202,203,204,206,301,302,303,307,308
            --exclude-path results
            --exclude-path data
            --exclude-path dist
            --exclude-path build
            "**/*.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
